@model OdeToFood.Models.Restaurant

@*@if (Model == null)
    {
        <div>Not found...</div>
    }
    else
    {
        <h1>@Model.Name</h1>
        <div>the gui to display the others</div>

    }*@

<h1>@Model.Name</h1>
<h3>Id: @Model.Id</h3>

<div>
    My Cuisine: @Model.Cuisine
</div>

<div>the gui to display the others</div>
<a asp-action="Index" asp-controller="Home">Home</a>
