@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello</h1>
    <div>this is the index view</div>
    <hr />
    <p>@Model.Id</p>
    <p>@Model.Name</p>
</body>
</html>